<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>DrawPad Administration</title>
	</head>
	<body>
		<ul>
			{% for drawing in drawings %}
			<li>
				{{ drawing.play_count }}
				{{ drawing.date_created.date }} {{ drawing.date_created.hour }}:{{ drawing.date_created.minute }}
				<a href="/admin/delete?drawing_id={{ drawing.key }}">Delete</a>
				<img src="/admin/thumbnail?drawing_id={{ drawing.key }}" />
			</li>
			{% endfor %}
		</ul>
	</body>
</html>